.modal-group {
  display: block;
  width: 528px;
  height: 581px;
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  padding: 40px 40px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  align-items: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color-font);
}

.modal-group-form {
  margin-bottom: 20px;
  padding: 0 39px 0 41px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.form-field input {
  width: 448px;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  margin-bottom: 4px;
}

.form-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transition: var(--border-animation);
    &:hover,
    &:focus {
      border: 1px solid var(--color-acent);
      outline: none;
      transition: var(--border-animation);
    }
}




.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--main-color-font);
  transition: var(--fill-animation);
    .form-input:hover~&,
    .form-input:focus~& {
      fill: var(--color-acent);
      transition: var(--fill-animation);
    }
}