.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-60%, -60%) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  width: 30px;
  height: 30px;
    &:hover,
    &:focus {
      fill: var(--btn-hover);
      transition: var(--fill-animation);
    }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}