body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--color-white);
  margin: 0;
}

.list{
  list-style: none;
}

.link{
  text-decoration: none;
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}