/*--------------- Benefits ----------------------*/
.benefits-section { 
  
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
    ;
  }
}


.benefits {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  
  &::before {
      display: block;
      content: "";
      height: 120px;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--bg-section);
      border-radius: 4px;
    }
    width: 100%;

    @media screen and (min-width: 768px) {
    width: calc((100% - 60px) /2);
    }

    @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);    
    .benefit__head {
        text-align: left;
      }
    }
}
.benefit__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  margin: 30px auto 10px;
  text-align: center;

  @media screen and (min-width: 1200px) {
   
  }
}





.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.benefits__text {
  line-height: 1.71;
  color: var(--secondary-color);
}