.footer-connect {
  margin-left: 70px;
}

.footer-connect-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-white);
  transition: var(--bg-animation);
    &:hover,
    &:focus {
      background-color: var(--color-acent);
    }
}


