.form-comment {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--border-animation);
    &:hover,
    &:focus {
      border: 1px solid var(--color-acent);
      outline: none;
      transition: var(--border-animation);
    }
}

