.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  transition: var(--box-shadow-animation);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-item a {
  text-decoration: none;
}

.portfolio-link {
  display: block;
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-discription {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}

.portfolio-head {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--color-black);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-color);
}

